@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons/TTCommons-DemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons/TTCommons-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons/TTCommons-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}